# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.sqlite3

# Environment / Secrets
.env

# User uploaded files
media/
uploads/

# Static collected files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log